<ion-header class="header-margin">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="startActions.length > 0">
      <ion-button
        *ngFor="let action of startActions"
        (click)="actionType.emit(action.type)"
        [disabled]="action.disabled"
      >
        <ion-icon slot="icon-only" [name]="action.icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">RenoirHQ</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openModal('weather')">
        <ion-text>
          <span>{{ weather?.main.temp | number: "1.0-0" }}&#8457;</span>
        </ion-text>
        <ion-img [src]="weatherIconUrl"></ion-img>
      </ion-button>
      <ion-button (click)="openModal('settings')">
        <ion-icon slot="icon-only" name="cog-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
