<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="text-center">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveSettings()" [disabled]="!isFormValid"
        ><ion-icon name="save"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isLoading; else loadingComplete">
    <ion-item class="h-[40px]">
      <ion-skeleton-text
        [animated]="true"
        class="text-[22px] w-40 bg-step50"
      ></ion-skeleton-text>
    </ion-item>
    <ion-item *ngFor="let _ of [].constructor(3)">
      <ion-skeleton-text
        [animated]="true"
        class="w-52 bg-step50"
      ></ion-skeleton-text>
    </ion-item>
  </ng-container>
  <ng-template #loadingComplete>
    <ion-list>
      <ion-list-header class="items-center"
        ><span>Joke Categories</span></ion-list-header
      >
      <ion-item>
        <ion-label>Any</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Pun</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.Pun"
          [disabled]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Spooky</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.Spooky"
          [disabled]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Christmas</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.Christmas"
          [disabled]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Dark</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.Dark"
          [disabled]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Programming</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.Programming"
          [disabled]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Misc</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="categories.Misc"
          [disabled]="categories.AnyJoke"
          (ionChange)="validateForm()"
        ></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header class="items-center">Blacklist</ion-list-header>
      <ion-item>
        <ion-label>NSFW</ion-label>
        <ion-toggle color="success" [(ngModel)]="blacklist.nsfw"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Religious</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="blacklist.religious"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Political</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="blacklist.political"
        ></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Racist</ion-label>
        <ion-toggle color="success" [(ngModel)]="blacklist.racist"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Sexist</ion-label>
        <ion-toggle color="success" [(ngModel)]="blacklist.sexist"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Explicit</ion-label>
        <ion-toggle
          color="success"
          [(ngModel)]="blacklist.explicit"
        ></ion-toggle>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
