ion-row:not(:last-child) {
  margin-bottom: 10px;
}

ion-col {
  display: flex;
  padding: 0;
}

.weather-icon {
  width: 50px;
  line-height: 50px;
  text-align: center;
}

p {
  margin: 0;
  font-size: 15px;
}
