<ren-header
  [actions]="headerActions"
  (actionType)="actionHandler($event)"
></ren-header>
<ion-content>
  <ion-text class="text-center">
    <h5 class="mb-0">Weather for {{ weather.name }}</h5>
    <h6 class="mt-0 mb-5">
      Lo: {{ weather.main.temp_min | number: "1.0-0" }}&#8457;, Hi:
      {{ weather.main.temp_max | number: "1.0-0" }}&#8457;
    </h6>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col class="flex">
        <ion-img [src]="weatherIconUrl"></ion-img>
        <ion-text class="items-center">
          <p class="mb-1">
            {{ weather.main.temp | number: "1.0-0" }}&#8457;,
            {{ weather.weather[0].main }}
          </p>
          <p>
            Feels like {{ weather.main.feels_like | number: "1.0-0" }}&#8457;
          </p>
        </ion-text>
      </ion-col>
      <ion-col class="flex">
        <div class="weather-icon">
          <fa-icon icon="cloud" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="items-center flex">
          <p>Cloudiness: {{ weather.clouds.all }}%</p>
        </ion-text></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <div class="weather-icon">
          <fa-icon icon="wind" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="flex items-center">
          <p>
            {{ weather.wind.speed | number: "1.0-0" }} mph {{ windDirection }}
          </p>
        </ion-text>
      </ion-col>
      <ion-col>
        <div class="weather-icon">
          <fa-icon icon="smog" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="flex items-center">
          <p>Humidity: {{ weather.main.humidity | number: "1.0-0" }}%</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <div class="weather-icon">
          <fa-icon icon="gauge-simple-high" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="items-center">
          <p class="mb-1">{{ weather.main.pressure | number: "1.0-0" }} hPa</p>
          <p>{{ mmHg | number: "1.2-2" }} mmHg</p>
        </ion-text>
      </ion-col>
      <ion-col>
        <div class="weather-icon">
          <fa-icon icon="eye" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="flex items-center">
          <p>Visibility: {{ visibility | number: "1.2-2" }} miles</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="flex">
        <div class="weather-icon">
          <fa-icon icon="sun" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="flex items-center">
          <p>Sunrise: {{ sunriseTime | date: "shortTime" }}</p>
        </ion-text>
      </ion-col>
      <ion-col>
        <div class="weather-icon">
          <fa-icon icon="moon" class="text-2xl"></fa-icon>
        </div>
        <ion-text class="flex items-center">
          <p>Sunset: {{ sunsetTime | date: "shortTime" }}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
