<ren-header
  [actions]="headerActions"
  (actionType)="actionHandler($event)"
></ren-header>
<ion-content>
  <ion-list *ngIf="shoppingList.length > 0; else noDataFound">
    <ion-item-sliding *ngFor="let item of shoppingList" #slidingItem>
      <ion-item (click)="updateItem(item)">
        <ion-label>{{item.quantity}} - {{item.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          color="primary"
          (click)="updateItem(item, slidingItem)"
          class="btn-item-option"
          ><ion-icon name="pencil"></ion-icon
        ></ion-item-option>
        <ion-item-option
          color="danger"
          (click)="deleteItem(item)"
          class="btn-item-option"
          ><ion-icon name="trash"></ion-icon
        ></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #noDataFound>
    <ion-grid class="h-100">
      <ion-row class="ion-justify-content-center ion-align-items-center h-100">
        <ion-item class="ion-align-self-center">
          Your shopping list is empty.
        </ion-item>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
