.header-margin {
  margin-bottom: 10px;
}

.table-header {
  margin-right: 5px;
  font-weight: bold;
}

ion-col,
ion-row {
  border-color: white;
  border-width: 0.01em;
  border-style: solid;
  margin-bottom: -1px;
}
