<ren-header
  [actions]="headerActions"
  (actionType)="actionHandler($event)"
></ren-header>
<ion-content>
  <form [formGroup]="todoItemForm">
    <ion-list>
      <ion-item [class.invalid]="todoItemForm.controls.title?.invalid">
        <ion-input
          formControlName="title"
          placeholder="Title"
          autocapitalize="sentences"
          clearInput
          autocorrect="on"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-grid class="p-0">
          <ion-row>
            <ion-col class="flex justify-center content-center">
              <ion-datetime-button id="datetime-btn" datetime="datetime">
                <div slot="date-target">
                  <ng-container *ngIf="!!dueDate; else noDateSelected">{{
                    dueDate.toDate() | date: "MM/dd/yy"
                  }}</ng-container>
                  <ng-template #noDateSelected>N/A</ng-template>
                </div>
              </ion-datetime-button>
            </ion-col>
            <ion-col>
              <ion-select
                placeholder="Assignee"
                formControlName="assignedTo"
                [(ngModel)]="currentItem.assignedTo"
                class="max-w-full"
              >
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="C">C</ion-select-option>
                <ion-select-option value="M">M</ion-select-option>
                <ion-select-option value="C+M">C+M</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-select
                placeholder="Priority"
                formControlName="priority"
                [(ngModel)]="currentItem.priority"
                class="max-w-full"
              >
                <ion-select-option value=""></ion-select-option>
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item
        [class.invalid]="todoItemForm.controls.body?.invalid"
        lines="none"
      >
        <ion-textarea
          formControlName="body"
          placeholder="Note content here"
          autocapitalize="sentences"
          spellcheck
          [rows]="numTextAreaRows"
        ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-popover [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="datetime"
      presentation="date"
      showDefaultButtons
      showClearButton
      (ionChange)="onDateChange($event)"
      [value]="dueDate?.toDate().toISOString()"
    ></ion-datetime>
  </ng-template>
</ion-popover>
