<ren-header
  [actions]="headerActions"
  (actionType)="actionHandler($event)"
></ren-header>
<ion-content>
  <div class="item-container">
    <ion-text class="padding-left">Item #1</ion-text>
    <ion-text>
      <span class="float-right padding-right" [ngClass]="priceClass1">
        {{ priceItem1 | currency: 'USD' }}
      </span>
    </ion-text>
    <div class="flex flex-row mt-2.5">
      <ion-input
        clearInput
        type="number"
        placeholder="Cost"
        inputmode="decimal"
        [(ngModel)]="costItem1"
        (ionChange)="onInputChange()"
        class="unit-cost-input padding-left"
      ></ion-input>
      <ion-input
        clearInput
        type="number"
        placeholder="lb, oz, etc"
        inputmode="decimal"
        [(ngModel)]="qtyItem1"
        (ionChange)="onInputChange()"
        class="unit-cost-input padding-right"
      ></ion-input>
    </div>
  </div>

  <div class="item-container">
    <ion-text class="padding-left">Item #2</ion-text>
    <ion-text>
      <span class="float-right padding-right" [ngClass]="priceClass2">
        {{ priceItem2 | currency: 'USD' }}
      </span>
    </ion-text>
    <div class="flex flex-row mt-2.5">
      <ion-input
        clearInput
        type="number"
        placeholder="Cost"
        inputmode="decimal"
        [(ngModel)]="costItem2"
        (ionChange)="onInputChange()"
        class="unit-cost-input padding-left"
      ></ion-input>
      <ion-input
        clearInput
        type="number"
        placeholder="lb, oz, etc"
        inputmode="decimal"
        [(ngModel)]="qtyItem2"
        (ionChange)="onInputChange()"
        class="unit-cost-input padding-right"
      ></ion-input>
    </div>
  </div>
</ion-content>
