<ion-header class="header-margin">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="saveItem()" [disabled]="listItemForm.invalid"
        ><ion-icon name="save"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modal.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="listItemForm">
      <ion-item [class.invalid]="listItemForm.controls.name?.invalid">
        <ion-label class="input-label">Name</ion-label>
        <ion-input
          formControlName="name"
          placeholder="Item name"
          clearInput
          spellcheck
        ></ion-input>
      </ion-item>
      <ion-item [class.invalid]="listItemForm.controls.quantity?.invalid">
        <ion-label class="input-label">Quantity</ion-label>
        <ion-input
          formControlName="quantity"
          placeholder="Quantity needed"
          clearInput
          inputmode="number"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-label">Shopped?</ion-label>
        <ion-checkbox formControlName="isShopped" slot="end"></ion-checkbox>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
