<ren-header
  [actions]="headerActions"
  (actionType)="actionHandler($event)"
></ren-header>
<ion-content>
  <form [formGroup]="listItemForm">
    <ion-list>
      <ion-item [class.invalid]="listItemForm.controls.name?.invalid">
        <ion-label class="input-label">Name</ion-label>
        <ion-input
          formControlName="name"
          placeholder="Item name"
          autocapitalize="sentences"
          clearInput
          spellcheck
        ></ion-input>
      </ion-item>
      <ion-item [class.invalid]="listItemForm.controls.quantity?.invalid">
        <ion-label class="input-label">Quantity</ion-label>
        <ion-input
          formControlName="quantity"
          placeholder="Quantity needed"
          clearInput
          inputmode="decimal"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="input-label">Shopped?</ion-label>
        <ion-checkbox formControlName="isShopped" slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
