<ion-header class="header-margin">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem()" [disabled]="todoItemForm.invalid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="todoItemForm">
    <ion-list>
      <ion-item [class.invalid]="todoItemForm.controls.title?.invalid">
        <ion-input
          formControlName="title"
          placeholder="Title"
          clearInput
          spellcheck
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-float-left">Due Date: </ion-label>
        <ion-datetime-button id="datetime-btn" datetime="datetime">
          <div slot="date-target">
            <ng-container *ngIf="dueDate">{{
              dueDate.toDate() | date: "MM/dd/yy"
            }}</ng-container>
            <ng-container *ngIf="!dueDate">N/A</ng-container>
          </div>
        </ion-datetime-button>
      </ion-item>
      <ion-item [class.invalid]="todoItemForm.controls.body?.invalid">
        <ion-textarea
          formControlName="body"
          placeholder="Note content here"
          rows="35"
          spellcheck
        ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-popover [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      id="datetime"
      presentation="date"
      showDefaultButtons
      showClearButton
      (ionChange)="onDateChange($event)"
      [value]="dueDate?.toDate().toISOString()"
    ></ion-datetime>
  </ng-template>
</ion-popover>
