<ion-header class="header-margin">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem()" [disabled]="todoItemForm.invalid"
        ><ion-icon name="save"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="todoItemForm">
    <ion-list>
      <ion-item [class.invalid]="todoItemForm.controls.title?.invalid">
        <ion-input
          formControlName="title"
          placeholder="Title"
          clearInput
          spellcheck
        ></ion-input>
      </ion-item>
      <ion-item [class.invalid]="todoItemForm.controls.body?.invalid">
        <ion-textarea
          formControlName="body"
          placeholder="Note content here"
          rows="35"
          spellcheck
        ></ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
