<ion-card>
  <ion-item>
    <ion-icon name="wallet-outline" slot="start"></ion-icon>
    <ion-label>Bill Splitter</ion-label>
    <ion-button fill="outline" slot="end" (click)="reset()">Reset</ion-button>
  </ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="flex items-center">
          <ion-text>
            <p>Subtotal</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <!-- Subtotal input -->
          <ion-input
            clearInput
            type="number"
            placeholder="Subtotal"
            inputmode="decimal"
            [(ngModel)]="subtotal"
            (ionChange)="onInputChange(null)"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="flex items-center">
          <ion-text>
            <p>Tax</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <!-- Subtotal input -->
          <ion-input
            clearInput
            type="number"
            placeholder="Tax"
            inputmode="decimal"
            [(ngModel)]="tax"
            (ionChange)="onInputChange(null)"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="flex items-center">
          <ion-text>
            <p>Tip</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <!-- Tip input -->
          <ion-input
            clearInput
            type="number"
            placeholder="Tip"
            inputmode="decimal"
            [(ngModel)]="tip"
            (ionChange)="onInputChange(null)"
          ></ion-input>
        </ion-col>
        <ion-col size="5" class="flex items-center">
          <ion-segment (ionChange)="onInputChange($event)" value="%">
            <ion-segment-button value="%">
              <ion-label>%</ion-label>
            </ion-segment-button>
            <ion-segment-button value="$">
              <ion-label>$</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row class="h-[52.4px]">
        <ion-col size="3" class="self-center">
          <ion-text>
            <p>Total</p>
          </ion-text>
        </ion-col>
        <ion-col size="auto">
          <!-- Total label -->
          <ion-label>
            <div class="pb-0 flex items-center h-full" *ngIf="tipAmount">
              {{ total | currency: "USD" }}&nbsp;
              <div class="pb-0 inline-block" *ngIf="tipType === '%'">
                (Tip: {{ tipAmount | currency: "USD" }})
              </div>
              <div class="pb-0 inline-block" *ngIf="tipType === '$'">
                (Tip: {{ tipAmount | number: "1.0-0" }}%)
              </div>
            </div>
          </ion-label>
        </ion-col>
        <ion-col class="self-center">
          <ion-button
            color="primary"
            size="small"
            class="float-right"
            *ngIf="tipAmount"
            (click)="roundupTotal()"
            >Round</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="flex items-center">
          <ion-text>
            <p># people</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <!-- Number of people input -->
          <ion-input
            clearInput
            type="number"
            placeholder="Number of people"
            inputmode="decimal"
            [(ngModel)]="numPeople"
            (ionChange)="onInputChange(null)"
          ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="flex items-center">
          <ion-text>
            <p>Cost pp</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <!-- Cost per person label -->
          <ion-label>{{ costPerPerson | currency: "USD" }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
