<ren-header
  [actions]="headerActions"
  (actionType)="actionHandler($event)"
></ren-header>
<ion-content>
  <form [formGroup]="giftCardForm">
    <ion-list>
      <ion-item [class.invalid]="giftCardForm.controls.storeName?.invalid">
        <ion-label class="input-label">Store Name</ion-label>
        <ion-input
          formControlName="storeName"
          placeholder="Store name"
          autocapitalize="sentences"
          clearInput
          autocorrect="on"
        ></ion-input>
      </ion-item>
      <ion-item [class.invalid]="giftCardForm.controls.amount?.invalid">
        <ion-label class="input-label">Amount</ion-label>
        <ion-input
          formControlName="amount"
          placeholder="Amount on card"
          clearInput
          inputmode="decimal"
        ></ion-input>
      </ion-item>
      <ion-item [class.invalid]="giftCardForm.controls.last4?.invalid">
        <ion-label class="input-label">Last 4</ion-label>
        <ion-input
          formControlName="last4"
          placeholder="Last 4 digits of card"
          clearInput
          inputmode="number"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
