ion-list:not(:last-of-type) {
  margin-bottom: 10px;
}

ion-item.list-heading ion-label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.settings-content ion-icon {
  margin-right: 10px;
}

.user-card {
  margin: 0 0 10px 0;
}

.user-avatar {
  margin-right: 15px;
}

.user-avatar::part(image) {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
